<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="base.css"/>
    <script>
        angular.module('myApp',[]).controller('MyController',function($scope, $compile){
            $scope.message ='Hello World';
            var myInt;
            $scope.createW1= function(event){
                var widget = createWidget('W1');
                var spanNumber = (widget.children[1].firstChild);
                //var spanNumber = widget.querySelector('span.rNum');
                $compile(widget)($scope);
                myInt = setInterval(function some(){
                    randomPlay('W1',spanNumber);
                },1000);
            };


            $scope.createW2= function(event){
                var widget = createWidget('W2');
                $compile(widget)($scope);
            };
            /*
            $scope.play = function (event){
                event.preventDefault();

                console.log(this);
            };

            $scope.pause = function (event){
                //event.preventDefault();
                console.log('Paused');
                console.log('current target ',event.currentTarget);
                console.log('target ',event.target);
                console.log(event.target.parentNode.previousSibling);
                clearInterval(myInt);
            };*/

            function randomPlay(widgetType, elem){
                if(widgetType === 'W1'){
                    elem.innerHTML = getRandomInt(1,99);
                }
                else{
                    elem.innerHTML = getRandomInt(-99,-1);
                }
            }

        }).directive('mydirective', function () {
            return {
                restrict: 'AEC',
                scope: false,
                link: function (scope,elements, attributes) {
                    //console.log(attributes);
                    console.log(elements[0]);
                    elements[0].addEventListener('click', function (event) {
                       /* console.log('Paused');
                        console.log('current target ',event.currentTarget);
                        console.log('target ',event.target);
                        console.log(event.currentTarget.parentNode.previousSibling);*/
                        scope.$apply(function(){
                            console.log('IN the directive ',event);
                        });
                        //clearInterval(myInt);
                    });
                }
            };
        });

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        function createElement(elementType, parent, className, innerHTML, custom) {
           var element = document.createElement(elementType);
           if (parent) parent.appendChild(element);
           if (className) element.className = className;
           if (innerHTML) element.innerHTML = innerHTML;
           if (typeof custom !== 'undefined') {
               for (var prop in custom) {
                   element.setAttribute(prop, custom[prop]);
               }
           }
           return element;
        }

        function createWidget(widgetType){
            var container  = document.querySelector('section.content');
            var widget = createElement('div',container,'widget left');
            var header = createElement('div',widget,'header');
            var widgetName = createElement('span',header,'left',widgetType);
            var close =  createElement('a',header,'right','X');
            var body = createElement('div',widget,'body');
            var spanNumber;
            if(widgetType === 'W1'){
                spanNumber = createElement('span',body,'rNum',getRandomInt(1,99));
                //randomPlay(widgetType,spanNumber);
            }
            else{
                spanNumber = createElement('span',body,'rNum','&nbsp;');
            }
            var bottom = createElement('div',body,'bottom');
            var play = createElement('a',bottom,'left','play');
            //play.setAttribute('ng-click','play($event)');
            play.classList.add('mydirective');
            var pause = createElement('a',bottom,'right','pause');
            //pause.setAttribute('ng-click','pause($event)');
            pause.classList.add('mydirective');
           // return spanNumber;
            return widget;
        }


    </script>
</head>
<body>
<div class="container" ng-controller="MyController">
    <section class="sidebar">
        <button ng-click="createW1($event)">W1</button>
        <button ng-click="createW2($event)">W2</button>
    </section>
    <section class="content">
        <!--<div class="widget">
            <div class="header">
                <span class="left">W1</span>
                <a href="#" class="right">X</a>
            </div>
            <div class="body">
               <span>34</span>
                <div class="bottom">
                    <a href="#" class="left">play</a>
                    <a href="#" class="right">pause</a>
                </div>
            </div>

        </div>
        -->

    </section>
</div>
</body>
</html>